*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    background-color: aquamarine;
    color: brown;    
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    background-color: black;
    color: red;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: blueviolet;
    color: white;
}
ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 46 px;
    background-color: aqua;
    color: greenyellow;
}
ol{
    font-family: monospace;
    font-size: 17px;
    background-color: aliceblue;
    color: black;
}
dl{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 58px;
    background-color: cadetblue;
    color: white;
}